
 #cookie-banner {
            background-color: #fcba03;
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 14px;
    width: 40vw;
    max-width: 70.00em;
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 1.6em;
    padding: 1em 1.4em;
    border-radius: 2px;
    transition: all 0.5s ease-in;
        }

        #cookie-banner p {
            margin: 0;
        }
        #cookie-banner img {
           display: block;
           width: 3.75em;
           margin: auto;
         }
         
         #cookie-banner a:hover {
           color: #4CAF50;
         }

        #cookie-banner button {
            background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
        }

        #cookie-banner button.accept {
            background-color: #4CAF50;
            color: white;
            border: none;
        }

        #cookie-banner button.reject {
            background-color: #d9534f;
            color: white;
            border: none;
        }