/* Basic styling */
/*body {
    font-family: Arial, sans-serif;
    padding: 20px;
}*/

.article {
    background-color:#F7FAFF;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.title {
    font-size: 24px;
    cursor: pointer;
    text-decoration: underline;
}

h2 {
    font-size: 20px;
}

.content {
    position: relative;
}

.additional-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    margin-top: 10px;
}

.show {
    max-height: 1000px; /* Adjust to a large value to show the full content */
}

.read-toggle {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.read-toggle {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}
